<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Query Attendance</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
</head>
<body>
<div class="container">
  <h1>Student Attendance</h1>
  <p>Query Student Attendance records.</p>

  <table border="1">
    <tr>
      <td>Lecture Date</td>
      <td>Module ID</td>
      <td>Student ID</td>
      <td>Present</td>
    </tr>
    <tr th:each="data : ${query.getData()}">
      <td th:text="${data[1]}">Lecture Date</td>
      <td th:text="${data[0]}">Module ID</td>
      <td th:text="${data[2]}">Student ID</td>
      <td th:text="${data[3]}">Present</td>
    </tr>
  </table>

  <form action="#" th:action="@{/query}" th:object="${query}" method="post">

    <nav>
      <ul>
        <li><a href="student.html" th:href="@{/}">Add Student</a></li>
        <li><a href="attend.html" th:href="@{/attend}">Attendance Recording</a></li>
      </ul>
    </nav>

  </form>
</div>
</body>
</html>